POSTGRES_DB=wallet_api
POSTGRES_USER=wallet_user
POSTGRES_PASSWORD=password

TEST_POSTGRES_DB=wallet_api_test
TEST_POSTGRES_USER=wallet_user
TEST_POSTGRES_PASSWORD=password
TEST_POSTGRES_PORT=5433

DATABASE_URL=postgresql+psycopg://wallet_user:password@db:5432/wallet_api
TEST_DATABASE_URL=postgresql+psycopg://wallet_user:password@db_test:5432/wallet_api_test
